<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="SysOut" target="SYSTEM_OUT" follow="true">
            <PatternLayout
                    pattern="[%d{HH:mm:ss}] [%t/%highlight{%level}] [%c{1.3}%notEmpty{/%markerSimpleName}]: %msg{nolookups}%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="SysOut" level="INFO"/>
        </Root>
    </Loggers>
</Configuration>